div.pm-group {
  color: red; font-size: 1.6em; font-family: Pacifico; background-color: white;
}
.inner {
  margin-top: 2em; padding-top:
  20px;
}
td.pmtitle {
  color: white!important; font-family: cursive; font-size: 1.2em!important;

}
td.pmtitle2 {
  font-size: 1.2em!important; color: white!important;
}
